services:
  #  grafana-lgtm:
  #    image: 'grafana/otel-lgtm:latest'
  #    ports:
  #    - '3000:3000'
  #    - '4317'
  #    - '4318'
  rabbitmq:
    image: 'rabbitmq:latest'
    environment:
    - 'RABBITMQ_DEFAULT_PASS=secret'
    - 'RABBITMQ_DEFAULT_USER=myuser'
    ports:
    - '5672'
  redis:
    image: 'redis:latest'
    ports:
    - '6379'
